.upload {
  background-color: red;
  color: white;
  width: 40px;
  height: 30px;
}

@media (prefers-color-scheme: light) {
  .form-container {
    width: 80%;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .form-container header {
    font-size: 28px;
    font-weight: 600;
    color: #006eff;
    text-align: left;
  }

  .form-container .form {
    margin-top: 30px;
  }

  .form-container .input-box {
    width: 100%;
    margin-top: 20px;
  }

  label {
    color: #000000;
  }

  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 45px;
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
    padding: 0 15px;
    outline: none;
    font-weight: 300;
    color: #000000;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: rgb(235, 246, 255);
  }

  .input-box input:focus {
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    border: 1.5px solid #006eff;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: rgb(255, 255, 255);
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  .form .gender-box {
    margin-top: 20px;
  }

  .gender-box h3 {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .form .gender {
    column-gap: 5px;
  }

  .gender input {
    accent-color: #006eff;
  }

  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }

  .gender label {
    color: #000000;
  }

  .address :where(input, .select-box) {
    margin-top: 15px;
  }

  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #5a5a5a;
    font-size: 15px;
    background: rgb(235, 246, 255);
    backdrop-filter: blur(8px);
  }

  .form button {
    height: 55px;
    width: 20%;
    margin-top: 30px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }

  .form .button {
    height: auto;
    min-width: 120px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #000000;
    font-size: 57px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form .button:hover {
    transform: scale(0.8);
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }

  .upload-btn-wrapper {
    position: relative;
    display: flex;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    opacity: 0;
    position: absolute;
    height: 160px;
    max-width: 120px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #000000;
    font-size: 57px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .form-container {
    width: 80%;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .form-container header {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
  }

  .form-container .form {
    margin-top: 30px;
  }

  .form-container .input-box {
    width: 100%;
    margin-top: 20px;
  }

  label {
    color: #8FBFFF;
  }

  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 45px;
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
    padding: 0 15px;
    outline: none;
    font-weight: 300;
    color: #ffffff;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: #1f2e3f;
  }

  .input-box input:focus {
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    border: 1.5px solid #8FBFFF;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: rgb(0, 0, 0);
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  .form .gender-box {
    margin-top: 20px;
  }

  .gender-box h3 {
    color: #8FBFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .form .gender {
    column-gap: 5px;
  }

  .gender input {
    accent-color: #8FBFFF;
  }

  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }

  .gender label {
    color: #ffffff;
  }

  .address :where(input, .select-box) {
    margin-top: 15px;
  }

  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    background: #1f2e3f;
    backdrop-filter: blur(8px);
  }

  .form button {
    height: 55px;
    width: 20%;
    margin-top: 30px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid white;
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }

  .form .button {
    height: auto;
    min-width: 120px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 57px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form .button:hover {
    transform: scale(0.8);
    font-size: 60px;
    font-weight: 800;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }

  .upload-btn-wrapper {
    position: relative;
    display: flex;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    opacity: 0;
    position: absolute;
    height: 160px;
    max-width: 120px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 57px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .form-container {
    width: 100%;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .form-container header {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ff9900;
    text-align: center;
  }

  .form-container .form {
    margin-top: 30px;
  }

  .form-container .input-box {
    width: 100%;
    margin-top: 20px;
  }

  label {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
  }

  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 45px;
    width: 100%;
    font-size: 12px;
    margin-top: 8px;
    padding: 0 15px;
    outline: none;
    font-weight: 300;
    color: #000000;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: #ffedcf;
  }

  .input-box input:focus {
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    border: 1.5px solid #ff9900;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: #ffffff;
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  .form .gender-box {
    margin-top: 20px;
  }

  .gender-box h3 {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .form .gender {
    column-gap: 5px;
  }

  .gender input {
    accent-color: #ff9900;
  }

  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }

  .gender label {
    color: #000000;
  }

  .address :where(input, .select-box) {
    margin-top: 15px;
  }

  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #5a5a5a;
    font-size: 12px;
    background: #ffedcf;
    backdrop-filter: blur(8px);
  }

  .form button {
    height: auto;
    padding: 10px;
    width: auto;
    margin-top: 30px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }

  .form .button {
    height: auto;
    min-width: auto;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .form .button:hover {
    transform: scale(0.8);
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }

  .upload-btn-wrapper {
    position: relative;
    display: flex;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    opacity: 0;
    position: absolute;
    height: 160px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: #000000;
    font-size: 57px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }
}