@media (prefers-color-scheme: light) {
#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1001;
  }

  #ac-wrapper-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1001;
  }
  
  #popup {
    min-width: 700px;
    width: auto;
    max-width: fit-content;
    background: rgb(244, 238, 255);
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    /* top: 50%;
    left: 500px;
    bottom: 50%;
    right: 200px; */
    margin: auto;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    padding: 25px;
  }
  .popup-header{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-align: left;
  }

  .popup-close {
    width: 20px;
    float: right;
  }
  
  .popup-logo {
    width: 180px;
    margin-top: 25px;
  }
  #ac-wrapper:not([style]) ~* {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    }
  #ac-wrapper-2:not([style]) ~* {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    }
  #wrapper.blur {
          -webkit-filter: blur(10px);
             -moz-filter: blur(10px);
               -o-filter: blur(10px);
              -ms-filter: blur(10px);
                  filter: blur(10px);
}
.account-header {
  padding: 15px;
    color: #7330EC;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .account-avatar {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .account-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }
  
  .account-info h2 {
    margin: 0;

  }
  
  .account-info p {
    margin: 5px 0;
  }
  
  .account-details {
    display: flex;
    background: #7330EC;
    background: url("../img/box.png") center repeat;
    background-size:contain;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    color: #f7efff;
    padding: 10px;
    border-color: #00000000;
    border-radius: 20px;
    width: auto;
  }
  
  .account-section {
    margin-bottom: 20px;
    margin: 40px;
  }
  
  .account-section h3 {
    margin-top: 0;
  }
  
  .account-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .account-section ul li {
    margin-bottom: auto;
  }
  
  .account-section ul li strong {
    font-weight: bold;
    margin-right: auto;
  }

    .btn button{
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 5px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }
  .btn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1001;
  }
  
  #ac-wrapper-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1001;
  }

  #popup {
    min-width: 700px;
    width: auto;
    max-width: fit-content;
    background: #11101D;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    /* top: 50%;
    left: 500px;
    bottom: 50%;
    right: 200px; */
    margin: auto;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    padding: 28px;
  }
  .popup-header{
    font-size: 18px;
    font-weight: 600;
    color: #ae91ff;
    text-align: left;
  }

  .popup-close {
    width: 20px;
    float: right;
  }
  
  .popup-close:hover{
    background-image: url("../img/close-2.png") !important;
  }

  .popup-logo {
    width: 180px;
    margin-top: 25px;
  }
  #ac-wrapper:not([style]) ~* {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    }
  #ac-wrapper-2:not([style]) ~* {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    }
  #wrapper.blur {
          -webkit-filter: blur(10px);
             -moz-filter: blur(10px);
               -o-filter: blur(10px);
              -ms-filter: blur(10px);
                  filter: blur(10px);
}
.account-header {
    padding: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .account-avatar {
    flex: 0 0 auto;
    margin-right: 20px;
    align-items: center;
  }
  
  .account-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }
  
  .account-info h2 {
    margin: 0;

  }
  
  .account-info p {
    margin: 5px 0;
  }
  
  .account-details {
    display: flex;
    background-color: #ae91ff;
    background: url("../img/Box-dark.png") center repeat;
    background-size:contain;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    color: #23004b;
    padding: 10px;
    border-radius: 20px;
    width: auto;
    border-color: #00000000;
  }
  
  .account-section {
    margin-bottom: 20px;
    margin: 40px;
  }
  
  .account-section h3 {
    margin-top: 0;
  }
  
  .account-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .account-section ul li {
    margin-bottom: auto;
  }
  
  .account-section ul li strong {
    font-weight: bold;
    margin-right: auto;
  }

  .btn button{
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 5px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    cursor: pointer;
  }
  .btn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
}
