@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@media (prefers-color-scheme: light) {
  .account-container {
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7057ff00;
    padding: 2px;
    border-radius: 25px;
    transition: all 0.5s ease;
  }

  .account-header {
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .account-avatar {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .account-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }

  .account-info h2 {
    margin: 0;

  }

  .account-info p {
    margin: 5px 0;
  }

  .account-details {
    display: flex;
    background: url("../img/box.png") center repeat;
    background-size: contain;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    color: #f7efff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-color: #00000000;
    border-radius: 20px;
    width: auto;
    background-color: #006eff;
  }

  .account-section {
    margin-bottom: 20px;
    margin: 40px;
  }

  .account-section h3 {
    margin-top: 0;
  }

  .account-section ul {
    list-style-type: none;
    padding: 0;
  }

  .account-section ul li {
    margin-bottom: auto;
  }

  .account-section ul li strong {
    font-weight: bold;
    margin-right: auto;
  }

  .btn button {
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 5px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .btn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .account-container {
    width: auto;
    margin: 15px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7057ff00;
    padding: 2px;
    border-radius: 25px;
    transition: all 0.5s ease;
  }

  .account-header {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .account-avatar {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .account-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }

  .account-info h2 {
    margin: 0;

  }

  .account-info p {
    margin: 5px 0;
  }

  .account-details {
    display: flex;
    background: url("../img/widget-dark.png") center repeat;
    background-size: contain;
    color: #000b4b;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    padding: 20px;
    border-radius: 20px;
    width: auto;
    border-color: #00000000;
    background-color: #8FBFFF;
  }

  .account-section {
    margin-bottom: 20px;
    margin: 40px;
  }

  .account-section h3 {
    margin-top: 0;
  }

  .account-section ul {
    list-style-type: none;
    padding: 0;
  }

  .account-section ul li {
    margin-bottom: auto;
  }

  .account-section ul li strong {
    font-weight: bold;
    margin-right: auto;
  }

  .btn button {
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 5px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .btn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .account-container {
    width: 270px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7057ff00;
    padding: 2px;
    border-radius: 25px;
    transition: all 0.5s ease;
  }

  .account-header {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .account-avatar {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .account-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 12px;
  }

  .account-info h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;

  }

  .account-info p {
    margin: 5px 0;
    font-size: 10px;
    font-weight: 600;
  }

  .account-details {
    background: url("../img/pattern-mobile.png") center repeat;
    background-size: contain;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    color: #fffdef;
    padding: 0px;
    border-color: #00000000;
    border-radius: 20px;
    width: auto;
    background-color: #ff9900;
    font-size: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
  }

  .account-details h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .account-section {
    width: 100%;
    margin: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .account-section h3 {
    margin-top: 0;
  }

  .account-section ul {
    list-style-type: none;
    padding: 0;
  }

  .account-section ul li {
    margin-bottom: auto;
  }

  .account-section ul li strong {
    font-weight: bold;
    margin-right: auto;
  }

  .btn button {
    justify-content: center;
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 5px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }

  .btn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }
}