/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@media (prefers-color-scheme: light) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    scrollbar-color: rgb(0, 0, 0) rgb(255, 255, 255);
    scrollbar-width: auto;
    scroll-behavior: auto;
  }
  .body{
    background: rgb(242, 235, 255);
    color: #000000;
    transition: all 0.5s ease;
  }
  .sidebar{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: rgb(244, 238, 255);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #000000;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #000000;
    height: 40px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
    padding-left: 0%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #7330EC;
    color: #f7efff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  .sidebar input{
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #f7efff;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #f7efff00;
  }
  .sidebar li a:hover{
    background: #000000;
  }
  .sidebar li a .links_name{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #f7efff;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #7330EC;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .sidebar li.profile .job{
    font-size: 12px;
  }
  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
    color: white;
  }
  .home-section{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    background: rgb(255, 255, 255);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }

  .dash-section .header{
    margin-bottom: 8px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
    padding: auto;
    transition: all 0.3s ease;
  }
  .home-section .text{
    display: inline-block;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin: 28px;
    transition: all 0.3s ease;
    width: 85%;
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  .container {
    margin-left: 30px;
    display: flex;
    transition: all 0.3s ease;
  }
  .container :hover{
    cursor: default;
  }
  .home-section .top-section{
    font-size: 34px;
    text-align: center;
    height: 110px;
    margin-bottom: 10px;
    width: 110%;
    margin-top: 28px;
    margin-left: 28px;
    margin-right: 28px;
    padding: 28px;
    background-color: #7330EC;
    background: url("../img/header.jpg") center no-repeat;
    background-size:cover;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  .widget {
    height: auto;
    min-width: 270px;
    width: auto;
    margin: 8px;
    padding: 25px;
    color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin-right: auto;
    margin-left: auto;
    background-color: #7330EC;
  }
  .widget :hover{
    color: #c8a5ff;
  }
  .widget h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .widget p {
    margin: 8px;
    font-size: 15px;
    color: #ddcfff;
    margin-bottom: auto;
  }
  .widget span {
    font-weight: bold;
  }
  .quick-links-sidebar,.quick-links-sidebar-2 {
    color: #7330EC;
    font-size: 15px;
    transition: all 0.3s ease;
    padding-right: auto;
    padding-left: auto;
    margin-left: 50px;
    margin-right: auto;
  }
  .quick-links,.quick-links2 {
    list-style-type: none;
    transition: all 0.3s ease;
    
  }
  .quick-links li,.quick-links2 li {
    margin-bottom: 9px;
    margin-left: auto;
    margin-top: auto;
    transition: all 0.3s ease;
  }
  .quick-links a,.quick-links2 a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .quick-links a:hover,.quick-links2 a:hover {
    color: rgb(98, 0, 255);
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .clickbtn button{
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin: 9px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }
  .clickbtn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }
  .operationbtn button{
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: auto;
    margin: 9px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid rgb(0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;
  }
  .operationbtn button:hover {
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
  }
  .widgetbtn button{
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
    border: 4px solid #ffffff;
    background-color: #ffffff00;
    cursor: pointer;
  }
  .widgetbtn button:hover {
    border: none;
    transform: scale(0.9);
    font-weight: 600;
    font-size: 18px;
    color: #7330EC;
    background-color: #ffffff;
    cursor: pointer;
  }
  }
@media (prefers-color-scheme: dark) {
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  scrollbar-color: rgb(255, 255, 255) #11101D;
  scrollbar-width: auto;
  scroll-behavior: auto;
}
.body{
  background: #11101D;
  color: #ffffff;
  transition: all 0.5s ease;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #ffffff;
  height: 10px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 40px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  padding-left: 0%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #ae91ff;
  color: #23004b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background-color: #ae91ff;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #23004b;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
  color: #000000;
}
.home-section{
  position: relative;
  background: #11101D;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

.dash-section .header{
  color: #f3f2ff;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  margin-bottom: 8px;
  padding: auto;
  transition: all 0.3s ease;
}
.home-section .text{
  display: inline-block;
  color: #f3f2ff;
  font-size: 25px;
  font-weight: 500;
  margin: 28px;
  transition: all 0.3s ease;
  width: 85%;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.container {
  margin-left: 30px;
  display: flex;
  transition: all 0.3s ease;
}
.container :hover{
  cursor: default;
}
.home-section .top-section{
  font-size: 34px;
  text-align: center;
  height: 110px;
  margin-bottom: 10px;
  width: 110%;
  margin-top: 28px;
  margin-left: 28px;
  margin-right: 28px;
  padding: 28px;
  background-color: #ae91ff;
  background: url("../img/header-dark.png") center no-repeat;
  background-size:cover;
  color: #23004b;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.widget {
  height: auto;
  min-width: 270px;
  width: auto;
  margin: 8px;
  padding: 25px;
  background-color: #ae91ff;
  color: #23004b;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  margin-right: auto;
  margin-left: auto;
}
.widget h2 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 25px;
}
.widget p {
  margin: 8px;
  font-size: 15px;
  color: #12002b;
  margin-bottom: auto;
}
.widget span {
  font-weight: bold;
}
.quick-links-sidebar,.quick-links-sidebar-2 {
  color: white;
  font-size: 15px;
  transition: all 0.3s ease;
  padding-right: auto;
  padding-left: auto;
  margin-left: 50px;
  margin-right: auto;
}
.quick-links,.quick-links2 {
  list-style-type: none;
  transition: all 0.3s ease;
}
.quick-links li,.quick-links2 li {
  margin-bottom: 9px;
  margin-top: auto;
  transition: all 0.3s ease;
}
.quick-links a,.quick-links2 a {
  color: #ae91ff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.quick-links a:hover,.quick-links2 a:hover {
  color: #ffffff;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.clickbtn button{
  height: auto;
  width: auto;
  padding: 15px;
  margin: auto;
  margin: 9px;
  margin-top: 30px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 4px solid rgb(255, 255, 255);
  background-color: #ffffff00;
  cursor: pointer;
}
.clickbtn button:hover {
  transform: scale(0.9);
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.operationbtn button{
  height: auto;
  width: auto;
  padding: 15px;
  margin: auto;
  margin: 9px;
  margin-top: auto;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 4px solid rgb(255, 255, 255);
  background-color: #ffffff00;
  cursor: pointer;
}
.operationbtn button:hover {
  transform: scale(0.9);
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.widgetbtn button{
  height: auto;
  width: auto;
  padding: 15px;
  margin-top: 30px;
  color: #23004b;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 4px solid #23004b;
  background-color: #ffffff00;
  cursor: pointer;
}
.widgetbtn button:hover {
  transform: scale(0.9);
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #23004b;
  cursor: pointer;
}
}