@media (prefers-color-scheme: light) {
    .uploadtable {
        /* background: none; */
        /* background: url("../img/pattern-light.png") center repeat;
    background-size: contain;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite; */
        /* border: 4px solid rgb(0, 0, 0); */
        padding: 0px;
        padding-top: 30px;
        margin: auto;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
        border-radius: 25px;
        max-width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .uploadtable {
        background: url("../img/widget-dark.png") center repeat;
        background-size: contain;
        -webkit-animation: backgroundScroll 60s linear infinite;
        animation: backgroundScroll 60s linear infinite;
        color: #001e4b;
        /* border: 4px solid #ffffff; */
        padding: 25px;
        margin: auto;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
        border-radius: 25px;
        max-width: 100%;
        background-color: #8FBFFF;
    }
}

@media (max-width: 500px) {
    .uploadtable {
        /* background: url("../img/pattern-mobile.png") center repeat !important;
				background-size: contain;
				-webkit-animation: backgroundScroll 60s linear infinite;
				animation: backgroundScroll 60s linear infinite; */
        /* border: 4px solid rgb(0, 0, 0); */
        transform: x left 0%;
        padding: 0;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
        border-radius: 25px;
        max-width: 95%;
        background: rgba(255, 255, 255, 0) !important;
        
    }
}